.attachment-list
  .attachment-list__icon
    = material_symbol 'link'
  %ul.attachment-list__list
    - attachments.each do |media|
      %li
        = link_to File.basename(media.linkable_url), media.linkable_url, title: media.description
